@import 'tailwindcss';

:root {
  --background: #fffdfb;
  --foreground: #00040b;
  --color-border: #f1e7de;
  --color-button-light: #fff8e6;
  --color-button-dark: #c4a77f;
  --color-button-dark-hover: #b89f6c;
  --color-button-light-hover: #fef4d9;
  --color-button-sand: #f6ede5;
  --color-button-sand-hover: #f0d8c4;
  --color-card: #fdf6ee;
  --color-header: #f2d8b2;
  --color-text-title: #5f5013;
  --color-text-subtitle: #c4a77f;
  --color-text-muted: #a49787;
  --color-text-base: #00040b;
  --header-height: 4rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
